<% if @list.event_date < DateTime.now %>
  <%= render partial: "shared/passed" %>
<% end %>

<div class="row">
  <div class="small-12 columns">
    <h1>Edit list</h1>
  </div>
</div>

<%= render :partial => 'form' %>