<div class="row column">
  <h1>My WishLists</h1>
  <div class="row margin-top">
    <div class="column small-12 medium-6">
      <p>You can create new and manage your existing WishLists on this page.</p>
    </div>
    <div class="column small-12 medium-6 text-center medium-text-right">
      <%= link_to 'Create a new WishList', new_list_path, class: 'button' %>
    </div>
  </div>

  <% if @lists_future.count > 0 %>
    <% @list = @lists_future %>
    <% @past = false %>
    <%= render :partial => 'lists/list' %>
  <% end %>
  <% if @lists_past.count > 0 %>
    <% @list = @lists_past %>
    <% @past = true %>
    <%= render :partial => 'lists/list' %>
  <% end %>
</div>