<% if flash[:notice] %>
  <div class="row">
    <div class="small-12 columns">
      <div class="notice"><%= flash[:notice] %></div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-12 columns">
    <h1>Send invitation</h1>
  </div>
</div>

<%= render :partial => 'form' %>