<% if flash[:notice] %>
  <div class="row">
    <div class="small-12 columns">
      <div class="notice"><%= flash[:notice] %></div>
    </div>
  </div>
<% end %>

<div class="row column">
  <h1>Send invitation to <%= @list.title %></h1>
</div>

<%= render :partial => 'form' %>