// === COLORS ===
$blue               : #3299BB;
$darkblue           : #056686;
$lightgrey          : #E9E9E9;
$darkgrey           : #424242;
$grey               : #BCBCBC;
$orange             : #FF9900;
$green              : #468847;
$red                : #b94a48;

// Import must be specified only after basic colors are set. This way I can use colors in Foundation settings.
@import "foundation_and_overrides";

body {
  background: url('giftly.png') repeat;
}

h1, .heading {
  color: $darkblue;
  text-align: center;
}

.menu {
  a, .menu-text {color: $white}
  .current a {background-color: $darkblue}
  @include breakpoint(medium) {
    // There is no :hover on mobile so use these only on medium-up
    a:hover {background-color: $darkblue}
  }
}

.main-content {
  margin-top: 20px;
  padding: 20px;
  background: rgba(255,255,255,0.5);
}

.form-actions {
  margin-top: 30px;
  font-size: 80%;
}

table {
  width: 100%;
}

.margin-top {
  margin-top: 2em !important;
  .button {
    margin-bottom: 0.5rem; /* was 1.25rem */
  }
}


.passed {
  table{
    tr {
      td {
        font-size: 75%;
        color: #ccc;
        a {
          color: #666;
          &.button {
            color: #fff;
            font-size: 75%;
            &.notice {
              background: #666;
            }
          }
        }
      }
      th {
        font-size: 75%;
      }
    }
  }
  h2 {
    font-size: 100%;
  }
}

.passed-row {
  a {
    color: #666;
    &.button {
      color: #fff;
      background: #666;
    }
  }
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#flash {
  > .warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
  }

  > .success {
    color: $green;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }

  > .error {
    color: $red;
    background-color: #f2dede;
    border-color: #eed3d7;
  }

  > .notice {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
}

.status {
  &.accepted { color: $green; }
  &.rejected { color: $red; }
}