<p>
  <strong>Title:</strong>
  <%= @gift.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gift.text %>
</p>

<p>
  <strong>Price:</strong>
  <%= @gift.price.to_s %>
</p>

<p>
  <strong>Link:</strong>
  <%= @gift.link %>
</p>

<p>
  <strong>Img:</strong>
</p>
