<div class="row column">
  <h1>Gifts to buy</h1>

  <% if @gifts.count > 0 %>
    <div class="row margin-top">
      <p>Here is a list of gifts you commited to buy.</p>
    </div>
    <% @admin = false %>
    <% @multiple_lists = true %>
    <%= render :partial => 'gifts/tabs' %>
  <% else %>
    <div class="row margin-top">
      <p>You currently don't have any gift to buy. Choose from the gifts at <%= link_to 'My Invitations', invitations_path %>.</p>
    </div>
  <% end %>
</div>
