<div class="row column">
  <h1>Gift registry for <%= @list.title %></h1>
  <div class="row margin-top">
    <div class="column small-12 medium-6">
      <p>These are gifts you would like to get from event's participants.</p>
    </div>
    <div class="column small-12 medium-6 text-center medium-text-right">
      <%= link_to 'Add Gift', new_list_gift_path, class: 'button' %>
    </div>
  </div>

  <% @admin = true %>
  <%= render :partial => 'gifts/list' %>

</div>