<div class="row">
  <div class="small-12 columns"><h1>Welcome on WishList!</h1></div>
</div>
<div class="row">
  <div class="medium-4 columns">
    <img src="http://kickofjoy.com/wp-content/uploads/2014/02/surprise-gift.jpg">
  </div>
  <div class="medium-8 columns">
  <p>
    <strong>Wishlist is an application for users who want to manage the event, where gifts will be handing out (weddings, birthdays, ...).</strong>
  </p>
  <p>If you want to use our application, you need to <%= link_to 'log in or create your account', new_user_session_path %>.</p>
  <p>After that you can create an event and a list of gifts you would like to get from other participants. You can invite other users on this event (users without account will be invited to Wishlist application via e-mail). These users can choose any gifts they want buy for you. They can also create a notification. On desired date, an e-mail will be sent on user's address. Here you can find information about event and a list with gifts you should buy.</p>
  </div>
</div>